ion-input {
    --padding-start: 16px; /* Padding a la izquierda */
    --padding-end: 16px;   /* Padding a la derecha */
    --padding-top: 12px;   /* Padding en la parte superior */
    --padding-bottom: 12px; /* Padding en la parte inferior */
}